<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>173251564429-prtn0u5m6d2olk1dtupt1vpg069iesqh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.173251564429-prtn0u5m6d2olk1dtupt1vpg069iesqh</string>
	<key>API_KEY</key>
	<string>AIzaSyDBYiLrfWlUBrQN0hv3li6sCvexwzuAwo0</string>
	<key>GCM_SENDER_ID</key>
	<string>173251564429</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>macgongmon.seep-ios.dev</string>
	<key>PROJECT_ID</key>
	<string>seep-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>seep-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:173251564429:ios:bcc5a85c9a1f67ffb563c4</string>
</dict>
</plist>